{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <div class="card mx-auto" style="max-width: 480px;">
    <div class="card-header">
      {% if object %}{% trans 'Edit'%} {{object_verbose_name}}{% else %}{% trans 'Create'%} {{object_verbose_name}}{% endif %}
    </div>
    <div class="card-body">
      <form method="POST" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}
            action="{% if object %}{{ update_view_url }}{% else %}{{ create_view_url }}{% endif %}" class="dl-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit"
                class="btn btn-primary">{% trans 'Save'%}</button>
      </form>
    </div>
  </div>
{% endblock %}
